body{
    display:flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* .square{
    border: .1em solid black;
    margin: .1em;
} */

.container{
    height: 75vh;
    width: 50vw;
    display:grid;
    border: 1px solid black;
}

.container div{
    padding: 0;
}

.hovered{
    background-color: grey;
}

#clearGrid{
    margin-bottom: 1vh;
}