.square{
    border: .1rem solid black;
    margin: .1rem;
    width: 1.4rem;
    height: 1.4rem;
}

.container{
    display:flex;
    width: 95vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.col{
    display:flex;
    flex-direction: column;
}

.hovered{
    background-color: grey;
}